.vscode

venv/
.pylintrc
__pycache__/
.fixtures
staticfiles/

.env*
celerybeat-schedule*

docker/redis/data/

logs/*

docker-compose.prod.yml
docker/nginx/prod

db_backups/database-2026*
postgres/

ml_models/