body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
.container {
    padding-top: 50px;
}
.card {
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.card-header {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #007bff;
    color: white;
}

a:hover .card-header {
    background-color: #228b22;
}

.card-body {
    background-color: white;
    padding: 20px;
}
.card-footer {
    background-color: #f1f1f1;
    font-size: 0.9rem;
}
.keywords {
    margin-top: 10px;
}
.keywords span {
    display: inline-block;
    background-color: #e9ecef;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}
.icon {
    color: #007bff;
    margin-right: 5px;
}
.card-body p {
    font-size: 0.95rem;
}



.offcanvas.custom-height {
    height: auto;
    max-height: none;
    top: auto;
    bottom: auto;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.card-body-m {
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
}


.card-wrapper {
    position: relative;
    margin-top: 80px;
    padding-top: 40px;
}

.card-float-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 56px;
    height: 56px;

    background-color: #fff;
    border: 3px solid #000;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
    z-index: 10;
}


.card-float-icon-1 {
    background-color: #E8A87C;
    border-color: #E8A87C;
}

.card-float-icon-2 {
    background-color: #C38D9E;
    border-color: #C38D9E;
}

.card-float-icon-3 {
    background-color: #41B3A3;
    border-color: #41B3A3;
}

.card.card-accent-1 {
    border: 5px solid #E8A87C; 
}

.card.card-accent-2 {
    border: 5px solid #C38D9E;
}

.card.card-accent-3 {
    border: 5px solid #41B3A3;
}




@media (max-width: 767px) {

    .card {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .card-header {
        font-size: 1rem;
    }
    .card-body {
        padding: 15px;
    }
    .card-footer {
        font-size: 0.85rem;
    }
    .keywords span {
        font-size: 0.8rem;
    }
    .card-body p {
        font-size: 0.9rem;
    }

    .card-wrapper {
        margin-top: 20px;
        padding-top: 32px;
    }

    .card-body-m {
    justify-content: stretch;
    align-items: stretch;
    padding: 13px;
    margin: 7px;
    }

    .card-body-m p {
    font-size: 0.7rem;
    }
}


@media (max-width: 576px) {
    .card {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .card-body {
        padding: 10px;
    }
    .card-header {
        font-size: 1rem;
    }
    .keywords span {
        font-size: 0.75rem;
    }
    .icon {
        font-size: 1rem;
    }
    .card-wrapper {
        margin-top: 20px;
        padding-top: 25px;
    }
    .card-body-m {
    justify-content: stretch;
    align-items: stretch;
    padding: 10px;
    margin: 5px;
    }

    .card-body-m p {
    font-size: 0.5rem;
    }
}
