body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
.container {
    padding-top: 50px;
}
.card {
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.card-header {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #007bff;
    color: white;
}
.card-body {
    background-color: white;
    padding: 20px;
}
.card-footer {
    background-color: #f1f1f1;
    font-size: 0.9rem;
}
.keywords {
    margin-top: 10px;
}
.keywords span {
    display: inline-block;
    background-color: #e9ecef;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}
.icon {
    color: #007bff;
    margin-right: 5px;
}
.card-body p {
    font-size: 0.95rem;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 767px) {
    .card-header {
        font-size: 1rem;
    }
    .card-body {
        padding: 15px;
    }
    .card-footer {
        font-size: 0.85rem;
    }
    .keywords span {
        font-size: 0.8rem;
    }
    .card-body p {
        font-size: 0.9rem;
    }
}

/* Переопределение стандартных стилей для маленьких экранов */
@media (max-width: 576px) {
    .card-body {
        padding: 10px;
    }
    .card-header {
        font-size: 1rem;
    }
    .keywords span {
        font-size: 0.75rem;
    }
    .icon {
        font-size: 1rem;
    }
}

.offcanvas.custom-height {
    height: auto;
    max-height: none;
    top: auto;
    bottom: auto;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}