{% extends "base.html" %}
{% load static %}

{% block page_title %}
{{ name }}
{% endblock  %}

{% block content %}
<div class="container min-vh-10 d-flex align-items-center justify-content-center py-5">
    <div class="row w-100 justify-content-center">
        
        {% for article in articles %}
        <div class="col-lg-4 col-md-8 col-sm-10 mb-4">
            
            <div class="card shadow-lg h-10">
                <a href="{% url "catalog:work_detail" article.pk %}" class="text-decoration-none">
                <div class="card-header text-white">
                    {{ article.title }}
                </div>
                </a>
                <div class="card-body position-relative pb-0">
                    <h5 class="card-title mb-4">{{article.main_author_initials}}</h5>
                    <p><i class="fas fa-calendar icon"></i> <strong>Дата публикации: </strong>{{ article.publish_date }}</p>
                    <p><i class="fas fa-cogs icon"></i> <strong>DOI: </strong>{{ article.doi }}</p>
                    <p><i class="fas fa-bookmark  icon"></i> <strong>Сколько цитировалась: </strong>{{ article.cite_count }}</p>
                </div>
                <div class="card-footer text-muted">
                Последнее обновление: {{article.update_date}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock  %}
