{% extends "base.html" %}
{% load static %}
{% load articles_tags %}

{% block page_title %}
{{ name }}
{% endblock  %}

<!-- Article blocks -->
{% block content %}

<div class="container min-vh-10 d-flex align-items-center justify-content-center py-5">
    <div class="row w-100 justify-content-center">
        
        {% for article in articles %}
        <div class="col-lg-4 col-md-8 col-sm-10 mb-4">
            
            <div class="card shadow-lg h-10">
                <a href="{% url "catalog:work_detail" article.pk %}" class="text-decoration-none">
                <div class="card-header text-white">
                    {{ article.title }}
                </div>
                </a>
                <div class="card-body position-relative pb-0">
                    <h5 class="card-title mb-4">{{article.main_author_initials}}</h5>
                    <p><i class="fas fa-calendar icon"></i> <strong>Дата публикации: </strong>{{ article.publish_date }}</p>
                    <p><i class="fas fa-cogs icon"></i> <strong>DOI: </strong>{{ article.doi }}</p>
                    <p><i class="fas fa-bookmark  icon"></i> <strong>Сколько цитировалась: </strong>{{ article.cite_count }}</p>
                </div>
                <div class="card-footer text-muted">
                Последнее обновление: {{article.update_date}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Sorting UI -->

<div class="modal fade" id="filterModal" tabindex="1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="filterModalLabel">Сортировка статей</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="d-flex flex-column" role="sort" action="{% url 'catalog:catalog_all'%}" method="get">
      {% for key, value in request.GET.items %}
        {% if key != "sort" and key != "p" and key != "scope" %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endif %}
      {% endfor %}
      <div class="modal-body">
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="sort" value="default" id="chkDef"
                    {% if not request.GET.sort or request.GET.sort == 'default'%}checked{% endif %}>
                <label class="form-check-label" for="chkDef">По умолчанию</label>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="sort" value="latest" id="chkLatest"
                    {% if request.GET.sort == 'latest'%}checked{% endif %}>
                <label class="form-check-label" for="chkLatest">Самые последние</label>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="sort" value="mostcited" id="chkCite"
                    {% if request.GET.sort == 'mostcited'%}checked{% endif %}>    
                <label class="form-check-label" for="chkCite">Самые цитируемые</label>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="sort" value="uplouddate" id="chkYear"
                    {% if request.GET.sort == 'uplouddate'%}checked{% endif %}>  
                <label class="form-check-label" for="chkYear">Добавленные недавно</label>
            </div>
            <div class="mt-auto d-flex justify-content-end pt-3">
                <button type="submit" class="btn btn-primary">
                Применить
                </button>
            </div>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Paginator -->

{% get_proper_elided_page_range paginator page_obj.number as page_range %}


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center my-4">
        <div class="custom-shadow d-flex">
            <li class="page-item {% if not page_obj.has_previous %} disabled{% endif %}">
              <a class="page-link" href="{% if page_obj.has_previous %}?{% change_params p=page_obj.previous_page_number %}{% else %} # {% endif %} ">
              <i class="fas fa-arrow-left" aria-hidden="true"></i></a>
            </li>

            {% for page in page_range%}
            <li class="page-item {% if page_obj.number == page %} active {% endif %}">
                <a class="page-link" href="{% if page|is_num %}?{% change_params p=page %}{% else %}#{% endif %}">{{page}}</a></li>
            {% endfor %}

            <li class="page-item {% if not page_obj.has_next %} disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %}?{% change_params p=page_obj.next_page_number %}{% else %} # {% endif %} ">
                <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
              </li>
        </div>
    </ul>
</nav>

{% endblock  %}
