{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}
{{ name }}
{% endblock  %}
{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center py-5">
    <div class="row w-100 justify-content-center">
        <div class="col-lg-5 col-md-8 col-sm-10 mb-4">
            <div class="card shadow-lg h-100">
                <div class="card-header text-center bg-primary text-white">
                    {{ article.title }}
                </div>
                <div class="card-body position-relative pb-0">
                    <h5 class="card-title mb-4"> <i class="fas fa-user icon"></i> {{ article_main_author.main_initials }}</h5>
                    {% if artical_cite_information.journal_name %}
                    <p><i class="fas fa-book icon"></i> <strong>{% trans "Журнал:" %}</strong> {{ artical_cite_information.journal_name }}</p>
                    {% endif %}
                    <p><i class="fas fa-calendar icon"></i> <strong>{% trans "Дата публикации:" %}</strong> {{ artical_date.date_of_artical }}</p>
                    <p><i class="fas fa-cogs icon"></i> <a class="text-decoration-none" target="_blank" href="https://doi.org/{{ article.doi }}"><strong>DOI:</strong></a> {{ article.doi }}</p>
                    {% if article.mag %}
                    <p><i class="fas fa-cogs icon"></i> <strong>MAG:</strong> {{ article.mag }}</p> 
                    {% endif %}
                    {% if article.pmid %}
                    <p><i class="fas fa-cogs icon"></i> <a class="text-decoration-none" target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/{{ article.pmid }}"><strong>PubMed:</strong></a> {{ article.pmid }}</p>
                    {% endif %}
                    {% if article.issn %}
                    <p><i class="fas fa-cogs icon"></i> <strong>ISSN:</strong> {{ article.issn }}</p>
                    {% endif %}
                    {% if  article.isbn %}
                    <p><i class="fas fa-cogs icon"></i> <strong>ISBN:</strong> {{ article.isbn }}</p>
                    {% endif %}
                    <p><i class="fas fa-bookmark icon"></i> <strong>{% trans "Цитирований в статье:" %}</strong> {{ artical_cite_data.reference_in_work }}</p>
                    <p><i class="fas fa-quote-right icon"></i> <strong>{% trans "Сколько цитировалась:" %}</strong> {{ artical_cite_data.reference_count }}</p>
                </div>
                <div class="d-flex justify-content-end mt-0 ">
                    <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#citeModal">
                    <i class="fas fa-quote-right"></i> {% trans "Цитировать" %}
                    </button>
                </div>
                <div class="card-footer text-muted">
                {% trans "Последнее обновление:" %} {{ artical_date.date_of_last_update }}
                </div>
            </div>
        </div>

        
        <div class="col-lg-5 col-md-8 col-sm-10 d-flex justify-content-center align-items-center">
            <div class="card shadow-lg w-130">
                {% if graph %}

                <div class="card-header text-center bg-secondary text-white position-relative">
                    <span>{% trans "График цитирования" %}</span>
                    <a href="data:image/png;base64,{{ graph }}" download="citation_chart.png" class="btn btn-outline-light btn-sm position-absolute top-50 end-0 translate-middle-y me-2">
                    <i class="fas fa-download"></i>
                    </a>
                </div>
                
                <div class="card-body d-flex justify-content-center align-items-center">
                    
                    <img src="data:image/png;base64,{{ graph }}" alt="Citation Chart" class="img-fluid rounded">
                    
                </div>
                {% else %}

                <div class="card-header text-center bg-secondary text-white">
                    {% trans "График цитирования" %}
                </div>

                <div class="d-flex justify-content-center align-items-center">{% trans "График невозможно построить из-за нехватки данных" %}</div>
                {% endif %}
            </div>
        </div>

        <!-- Block for relative articles -->
        {% if recommendations %}
        <div class="col-12 text-center my-5">
            <h3 class="fw-bold">{% trans "Похожие работы" %}</h3>
        </div>

        {% for rec in recommendations %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="rec-card">
                <div class="rec-content">

                    <h5 class="rec-title">
                        {{ rec.article_title|truncatechars:120 }}
                    </h5>

                    <div class="rec-score
                        {% if rec.similarity >= 70 %}
                            score-high
                        {% elif rec.similarity >= 40 %}
                            score-medium
                        {% else %}
                            score-low
                        {% endif %}">
                        {{ rec.similarity }}%
                    </div>

                    <div class="rec-meta">

                        {% if rec.main_author %}
                        <div class="rec-meta-row">
                            <i class="fas fa-user"></i>
                            <span>{{ rec.main_author }}</span>
                        </div>
                        {% endif %}

                        {% if rec.date %}
                        <div class="rec-meta-row">
                            <i class="fas fa-calendar"></i>
                            <span>{{ rec.date|date:"Y" }}</span>
                        </div>
                        {% endif %}

                        {% if rec.citations_in_article %}
                        <div class="rec-meta-row">
                            <i class="fas fa-quote-right"></i>
                            <span>{% trans "Сколько цитировалась" %} {{ rec.citations_in_article }}</span>
                        </div>
                        {% endif %}

                        {% if rec.journal_name %}
                        <div class="rec-meta-row">
                            <i class="fas fa-book"></i>
                            <span>{{ rec.journal_name }}</span>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="rec-footer">

                    <a href="{% url 'catalog:work_detail' rec.article_pk %}"
                    class="btn btn-primary w-100">
                        {% trans "Открыть работу" %}
                    </a>

                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- Block for citing -->
<div class="modal fade" id="citeModal" tabindex="-1" aria-labelledby="citeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="citeModalLabel"><i class="fas fa-quote-right"></i> {% trans "Цитировать статью" %}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if gost and mla %}
            <div class="modal-body">
                <p><strong>GOST:</strong><br>
                {{gost}}
                </p>
                <hr>
                <p><strong>MLA:</strong><br>
                {{mla}}
                </p>
            </div>
            {% else %}
            <p>Недостаточно информации для цитирования GOST и MLA</p>
            {% endif %}
            <div class="modal-footer">
                <div class="row g-2 w-100 justify-content-center">
                    {% for type in citation_formats %}
                    <div class="col-3 col-md-3">
                        <a href="{% url "api:citation_export" pk=article.pk format_name=type %}"
                        class="btn btn-outline-primary w-100">
                            {{ type }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}