{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>fscienceanalyze - {% block page_title %}{% endblock  %}</title>
</head>


<body>
    <form class="d-flex flex-column" role="search" action="{% url 'catalog:catalog_all'%}" method="get">
    
    
    <div class="d-flex mb-2">
        <a href="{% url 'main:index' %}" class="btn btn-outline-secondary me-2">
            <i class="fas fa-home"></i>
        </a>
        <a href="{% url 'catalog:catalog_all' %}" class="btn btn-outline-secondary me-2">
            <i class="fas fa-book-open"></i>
        </a>
    
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search" {% if request.GET.q %}value="{{ request.GET.q }}{% endif %}">
        {% if request.resolver_match.route|slice:":8" != 'catalog/' %}<input type="hidden" name="scope" value="internal">{% endif %}
        {% if request.path == '/catalog/' %}
        <button type="button" class="btn btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#filterModal">
            <i class="fas fa-sliders-h"></i>
        </button>
        {% endif %}
        <button class="btn btn-outline-success text-blue" type="submit">Поиск</button>
    </div>

    </form>
    
    {% block content %}{% endblock  %}

    <script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>