{% extends "base.html" %}
{% load static %}

{% block page_title %}
{{ name }}
{% endblock  %}

{% block content %}

<div class="container min-vh-10 d-flex align-items-center justify-content-center py-5">
    <div class="row w-100 justify-content-center gy-5 gx-5">

        <div class="col-12 col-md-10 col-lg-12">
          <div class="card-wrapper text-center mb-4">
            <div class="card-float-icon card-float-icon-1">
              <i class="fas fa-lightbulb"></i>
            </div>

            <div class="card rounded-5 h-30 card-accent-1">

                  <div class="card-body-m text-center">
                    <strong>
                    <p>Через приложение fscienceanalyze вы сможете искать научные статьи с их уникальными id,
                      такими как DOI, pubmedID, MAG. Помимо различных id, вам будет доступно цитирование
                      по MLA и ГОСТ. Вы сможете получить информацию о цитированиях статьи и график цитирования по годам.
                      <p class="text-muted">Данные на карточке и на графике могут отличаться*</p>
                    </p>
                    </strong>
                  </div>
                  
            </div>
          </div>
            
        </div>

        <div class="col-lg-6 col-md-8 col-sm-10 mb-2">
          <div class="card-wrapper text-center mb-4">
            <div class="card-float-icon card-float-icon-2">
              <i class="fas fa-book-open"></i>
            </div>
          
            <div class="card rounded-5 h-30 card-accent-2">
                  <div class="card-body-m text-center">
                    <strong>
                    <p>В каталоге <i class="fas fa-book-open"></i> можно будет найти все статьи, которые пользователи когда либо запрашивали.
                      Если необходимой статьи не будет в каталоге, вы сможете найти её через внешний источник, нужно будет вернуться на главную страницу
                      <i class="fas fa-home"></i> и выполнить поиск там.
                    </p>
                    </strong>
                  </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-10 mb-2">
          <div class="card-wrapper text-center mb-4">
            <div class="card-float-icon card-float-icon-3">
              <i class="fas fa-search"></i>
            </div>

            <div class="card rounded-5 h-30 card-accent-3">
                  <div class="card-body-m text-center">
                    <strong>
                    <p> Для поиска конкретной статьи, помимо её названия и другой связанной информации, можно вбить её doi, mag или pubmedID.
                      Для поиска по mag или pubmed нужно, перед самим id, написать mag или pmid, с doi такого делать не нужно. 
                    </p>
                    </strong>
                  </div>
            </div>
          </div>  
        </div>

    </div>
</div>

{% endblock  %}
