{% extends "base.html" %}
{% load static %}



{% comment %} {% if not information and request.GET.q %}
    <div class="container">
        <h1 class="text-center mb-3 ">Ничего не найдено, попробуйте другой запрос</h1>

    {% elif request.GET.q %}
    <div class="container">
        <h1 class="text-center mb-3">Выполнен поиск по: {{request.GET.q}}</h1>
    {% else %}
    <div class="container">
        <h1 class="text-center mb-4">Полный список научных работ</h1>
    {% endif %} {% endcomment %}
    {% comment %} <div class="container">
        <h1 class="text-center mb-4">Текст для тестирования</h1>


        <div class="row">
            
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        Название статьи
                    </div>
                    <div class="card-body">

                        <h5 class="card-title">
                            Имя автора
                        </h5>

                        <p class="card-text"><b>Тут будет фотка графика(Будет ниже)</b>:#</p>

                        <p><i class="fas fa-book icon"></i><strong>Журнал:</strong> #</p>
                        <p><i class="fas fa-calendar icon"></i><strong>Год публикации:</strong>#</p>
                        <p><i class="fas fa-cogs icon"></i><strong>DOI:</strong> #</p>
                        <p><i class="fas fa-cogs icon"></i><strong>ISSN:</strong> #</p>
                        <p><i class="fas fa-cogs icon"></i><strong>ISBN:</strong> #</p>
                        <p><i class="fas fa-cogs icon"></i><strong>MAG:</strong> #</p>
                        <p><i class="fas fa-cogs icon"></i><strong>PubMed:</strong> #</p>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}



{% block page_title %}
{{name}}
{% endblock  %}
{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center py-5">
    <div class="row w-100 justify-content-center">
        
        
        <div class="col-lg-5 col-md-8 col-sm-10 mb-4">
            <div class="card shadow-lg h-100">
                <div class="card-header text-center bg-primary text-white">
                    {{ artical.title }}
                </div>
                <div class="card-body position-relative pb-0">
                    <h5 class="card-title mb-4">{{author_info.author}}</h5>
                    <p><i class="fas fa-book icon"></i> <strong>Журнал:</strong> {{author_info.journal_name}}</p>
                    <p><i class="fas fa-calendar icon"></i> <strong>Год публикации:</strong> {{ date.date_of_artical }}</p>
                    <p><i class="fas fa-cogs icon"></i> <strong>DOI:</strong> {{ artical.doi }}</p>
                    <p><i class="fas fa-cogs icon"></i> <strong>ISSN:</strong> {{ artical.issn }}</p>
                    {% if  artical.isbn %}
                    <p><i class="fas fa-cogs icon"></i> <strong>ISBN:</strong> {{ artical.isbn }}</p>
                    {% endif %}
                    {% if artical.mag %}
                    <p><i class="fas fa-cogs icon"></i> <strong>MAG:</strong> {{ artical.mag }}</p> 
                    {% endif %}
                    {% if artical.pubmed %}
                    <p><i class="fas fa-cogs icon"></i> <strong>PubMed:</strong> {{ artical.pubmed }}</p>
                    {% endif %}
                    <p><i class="fas fa-bookmark icon"></i> <strong>Цитирований в статье:</strong> {{ cite.reference_count}}</p>
                    <p><i class="fas fa-bookmark  icon"></i> <strong>Сколько цитировалась</strong> {{ cite.reference_by_count}}</p>
                </div>
                <div class="d-flex justify-content-end mt-0 ">
                    <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#citeModal">
                    <i class="fas fa-quote-right"></i> Цитировать
                    </button>
                </div>
                <div class="card-footer text-muted">
                Последнее обновление: {{ date.date_of_last_update }}
                </div>
            </div>
        </div>

        
        <div class="col-lg-5 col-md-8 col-sm-10 d-flex justify-content-center align-items-center">
            <div class="card shadow-lg w-100">
                <div class="card-header text-center bg-secondary text-white">
                    График цитирования
                </div>
                {% if graph %}
                <div class="card-body d-flex justify-content-center align-items-center">
                    
                    <img src="data:image/png;base64,{{ graph }}" alt="Citation Chart" class="img-fluid rounded">
                    
                </div>
                {% else %}
                <div> График невозможно построить из-за нехватки данных или других причин </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="citeModal" tabindex="-1" aria-labelledby="citeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="citeModalLabel"><i class="fas fa-quote-right"></i> Цитировать статью</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {% if gost or mla %}
      <div class="modal-body">
        <p><strong>ГОСТ:</strong><br>
          {{gost}}
        </p>
        <hr>
        <p><strong>MLA:</strong><br>
          {{mla}}
        </p>
        <hr>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock  %}
{% comment %} https://avatars.mds.yandex.net/i?id=54e76b3bfcd6f8d3f459df3897af9d569288a32a-5159711-images-thumbs&n=13 {% endcomment %}
